# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Samuel\Desktop\EC_Utbildning\source\src\test\java\com\SamuelRappECUtbildningTentaUppgift\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
